<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "design.css"></link>
    <title>CrytoConenct</title>
</head>
<body>
    
    <h1>CryptoConnect</h1>
    <hr>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/dashboard">Cryptoconnect</a></li>
            <li><a href="/index">Dashboard</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/trade">Trade</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <hr>

    <h1>Cryptocurrencies</h1>

    <nav class="dashboard">
      <ul class="dashboard-list">
        <li>Asset</li> 
        <li>Price</li> 
        <li>Market Cap </li>
        <li>Volume(24h)</li>
      </ul>
    </nav>

   <div class="dashboard-currencies">
        <ul class="dashboard-BTC">
            <li>BTC</li> 
            <li class="BTC-price">Price</li> 
            <li class="BTC-MKP">Market Cap </li>
            <li class="BTC-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-ETH">
            <li>ETH</li> 
            <li class="ETH-price">Price</li> 
            <li class="ETH-MKP">Market Cap </li>
            <li class="ETH-vol">Volume</li>
        </ul>

        <ul class="dashboard-BNB">
            <li>BNB</li> 
            <li class="BNB-price">Price</li> 
            <li class="BNB-MKP">Market Cap </li>
            <li class="BNB-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-ADA">
            <li>ADA</li> 
            <li class="ADA-price">Price</li> 
            <li class="ADA-MKP">Market Cap </li>
            <li class="ADA-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-SOL">
            <li>SOL</li> 
            <li class="SOL-price">Price</li> 
            <li class="SOL-MKP">Market Cap </li>
            <li class="SOL-vol">Volume</li>
        </ul>
    
        <ul class="dashboard-XRP">
            <li>XRP</li> 
            <li class="XRP-price">Price</li> 
            <li class="XRP-MKP">Market Cap </li>
            <li class="XRP-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-DOT">
            <li>DOT</li> 
            <li class="DOT-price">Price</li> 
            <li class="DOT-MKP">Market Cap </li>
            <li class="DOT-vol">Volume</li>
        </ul>
    
        <ul class="dashboard-DOGE">
            <li>DOGE</li> 
            <li class="DOGE-price">Price</li> 
            <li class="DOGE-MKP">Market Cap </li>
            <li class="DOGE-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-SHIB">
            <li>SHIB</li> 
            <li class="SHIB-price">Price</li> 
            <li class="SHIB-MKP">Market Cap </li>
            <li class="SHIB-vol">Volume</li>
        </ul>
        
        <ul class="dashboard-USDT">
            <li>USDT</li> 
            <li class="USDT-price">Price</li> 
            <li class="USDT-MKP">Market Cap </li>
            <li class="USDT-vol">Volume</li>
        </ul>
   </div>
    


    <div class="ai">  
        <form id="askForm" method="post" action="/submitquest">
            <input type="text" class="askgpt" name="askgpt" placeholder="Ask Broke AI">
            <button class="submitquest" type="submit">Submit</button>
        </form> 
    </div>

    

    <script src="script.js"></script>
</body>
</html>