<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "design.css"></link>
    <title>CrytoConenct</title>
</head>
<body>
    
    <h1>CryptoConnect</h1>
    <hr>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/dashboard">Cryptoconnect</a></li>
            <li><a href="/index">Dashboard</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/trade">Trade</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <hr>


    <ol>
        <% for (let key in locals.information) { %>
            <li><%= key %> : <%= information[key] %></li>
        <% } %>
    </ol>



    <div class="ai">  
        <form id="askForm" method="post" action="/submitquest">
            <input type="text" class="askgpt" name="askgpt" placeholder="Ask Broke AI">
            <button class="submitquest" type="submit">Submit</button>
        </form> 
    </div>

    

    <script src="script.js"></script>
</body>
</html>