<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "design.css"></link>
    <title>CrytoConenct</title>
    <h1> CrytoConenct </h1>

    <p> Group Members </p>

    <% for (let x = 0; x < 6; x++) { %>
        <p><%= members[x] %></p>
    <% } %>

</head>
<body>
    

    <script src="script.js"></script>
</body>
</html>