<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "design.css"></link>
    <title>CryptoConnect</title>
  </head>
  <body>
    
      <h1>CryptoConnect</h1>
      <hr>
      <nav class="navbar">
          <ul class="nav-links">
              <li><a href="/dashboard">Cryptoconnect</a></li>
              <li><a href="/dashboard">Dashboard</a></li>
              <li><a href="/portfolio">Portfolio</a></li>
              <li><a href="/trade">Trade</a></li>
              <li><a href="/profile">Profile</a></li>
              <li><a href="/logout">Logout</a></li>
          </ul>
      </nav>
      <hr>

      <h1>My Porfolio</h1>
      
      <nav class="portfolio-bar">
        <ul class="portfolio-bar-list">
          <li>Coin</li> 
          <li>Quantity</li> 
          <li>Current Price </li>
          <li>Total Value</li>
          <li>P/L (%)</li>
        </ul>
      </nav>
      
      <nav class="portfolio-holding">
        <% if (locals.holding_info && locals.holding_info.length > 0) { %>
          <% for (let i = 0; i < locals.holding_info.length; i++) { %>
            <ul class="portfolio-holding-list">
              <li><%= locals.holding_info[i].asset_name %></li>
              <li><%= locals.holding_info[i].asset_amount %></li>
              <li>--</li> <!-- placeholder for current price -->
              <li>--</li> <!-- placeholder for total value -->
              <li>--</li> <!-- placeholder for P/L -->
            </ul>
          <% } %>
        <% } %>
      </nav>
  </body>
  <script src="script.js"></script>


</html>