<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "design.css"></link>
    <title>Cryptoconnect/Profile</title>
</head>
<body>
    
    <h1> CrytoConnect </h1>
    <hr>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/dashboard">Cryptoconnect</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/portfolio">Portfolio</a></li>
            <li><a href="/trade">Trade</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>


    <h1 class ="user-profile"> User Profile</h1>
    <img class ="user-profile-animation" src="https://avatar.iran.liara.run/public/11">
    <hr>
    <p class="user-profile-name"><%= user_info.fname %></p>
    <hr>
    <p class ="user-profile-email">Email Adress of the person</p>
    <hr>
    <p class="user-profile-id" >ID number <%= user_info.id %></p>
    <hr>

    <script src="script.js"></script>
    
</body>
</html>