<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel = "stylesheet" href = "design.css"></link>
        <title>CryptoConnect/Trade</title>
    </head>
    <body>
        
        <h1>CryptoConnect</h1>
        <hr>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="/dashboard">Cryptoconnect</a></li>
                <li><a href="/index">Dashboard</a></li>
                <li><a href="/portfolio">Portfolio</a></li>
                <li><a href="/trade">Trade</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <hr>
        <h1>Let's Trade</h1>

        <form class="trading" action="/submittrade" method="post">

            <div class="trading-balance">
                <p>$ <%= locals.trading_options.balance %></p>
            </div>

            <p class="show-decision"></p>

            <div class="trading-options">
                <label for="order_type"> Buy/Sell </label>
                <select name="order_type" class="trading-decision" required>
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                </select>
            </div>

    
            <select class="selection" name="crypto" required>
                <option class="" value="" selected></option>
                <option class="BTC-USD" value="BTC">BTC</option>
                <option class="ETH-USD" value="ETH">ETH</option>
                <option class="BNB-USD" value="BNB">BNB</option>
                <option class="ADA-USD" value="ADA">ADA</option>
                <option class="SOL-USD"value="SOL">SOL</option>
                <option class="XRP-USD"value="XRP">XRP</option>
                <option class="DOT-USD"value="DOT">DOT</option>
                <option class="DOGE-USD"value="DOGE">DOGE</option>
                <option class="SHIB-USD"value="SHIB">SHIB</option>
                <option class="USDT-USD"value="USDT">USDT</option>
            </select>
            <br>

            <input type="number" 
                class="trading-amount" 
                name="amount" 
                placeholder="Enter the amount"
                required>

            <input type="number" 
                class="trading-price" 
                name="price" 
                placeholder="Current Price"
                step="0.000001"
                required>

            <p class="trading-value">Total Value: </p>

            <button type="submit" class="trading-submit">Submit</button>
        </form>


        
        <script src="trade.js"></script>

        
    </body>
</html>