h1{
    text-align: center;
    color: silver;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

body{
    background-color: lightpink;
}

/*This is the code for the div container which is the content that has all the AI related things.*/
.ai{
    background-color: black;
    position: absolute;
    top : 0px;
    left : calc(100% - 330px);
    right: 0px;
    height: 100%;
    overflow: scroll;
    display: none;
}


.askgpt{
    padding: 5px;
    margin:auto;
    display: block;
    max-width: 300px;
    width: 800px;
    height:50px;
    margin-top: 40px;
    overflow: scroll;
    padding-left: 10px;
}

.submitquest{
    margin: auto;
    display: block;
    margin-top: 10px;
}


/*The below CSS is for the design of the response given by the AI. It contains the response(answers) made by the AI. */
.response{
    background-color: white;
    overflow: scroll;
    height:auto;
    max-height:200px;
    color:black;
    width: 300px;
    border-radius: 20px 20px 20px 0px; 
    padding: 10px;
    margin-left:1px;
    margin-right:10px;
}


.user-question {
    color: white;
    background-color: #007bff;
    text-align: right;
    overflow-y: auto;
    max-height: 200px;
    width: fit-content;
    max-width: 250px;
    border-radius: 20px 20px 0 20px;
    padding: 10px 14px;
    margin: 8px 0 8px auto;           
    word-wrap: break-word;
}


.ol li{
    border: 2px solid white;
}

.navbar .nav-links{
    display: flex;
}

.navbar .nav-links li{
    display: block;
    margin: 10px;
    text-decoration: none;
    flex: 1;
}

.navbar .nav-links li a{
    text-decoration: none;
    color: whitesmoke;
}

/* CSS for the PROFILE page.*/

body{
    background-color: black;
}

.navbar{
    margin-top:40px;
}


.user-profile{
    text-align: center;
    margin-top: 30px;
    color: gold;
}

.user-profile-animation{
    height: 250px;
    width:250px;
    display: block;
    margin:auto;
    padding-top: 15px;
}

.user-profile-name{
    text-align: center;
    color: gold;
    margin-top: 20px;

}

.user-profile-email{
    text-align: center;
    color: gold;
}

.user-profile-id{
    text-align: center;
    color: gold;
}

hr{
    margin-top: 30px;
    padding-top: 10px;
    background-color: #B0B0B0;
}



/* CSS for the Trade pag.*/
.trading {
    width: 400px;
    margin: 0 auto; /* centers horizontally */
    text-align: center;
    border: 5px solid silver;
    border-radius: 10px;
    padding: 20px;
}
.trading .trading-balance{
    background-color: green;
    width:40px;
    margin-left:90%;
    margin-top: 0px;;
}


.trading-options button {
    display: inline-flex;
    gap: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.trading-buy {
    background-color: #00c896;
    color: black;
}

.trading-sell {
    background-color: #ff4d4d;
    color: white;
}




/* Optional: style inputs and select */
.trading select,
.trading input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid silver;
    width: 200px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
}


.trading-value{
    color: whitesmoke;
}

/* Button styling */
.trading-submit {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    transition: background 0.3s;
    width: 50px;
    padding: 5px;
    border-radius: 10px;
}

.trading-submit:hover {
    background-color: red;
    font-weight: bold;
}

/* CSS for the Portfolio page*/

.portfolio-bar .portfolio-bar-list{
    display: flex;
}

.portfolio-bar .portfolio-bar-list li{
    display: block;
    margin: 10px;
    text-decoration: none;
    flex: 1;
    color:white;
}